@import "bourbon/bourbon";
@import "normalize";

*,
*:after,
*:before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


input, textarea, button{
  border: none;
  background: none;
  outline: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

html, body, main{
  width: 100%;
  height: 100%;
  position: relative;
}

body{
  font-family: 'Raleway';
}


@mixin hideElement {
  opacity: 0;
  visibility: hidden;
}

@mixin showElement {
  opacity: 1;
  visibility: visible;
}

@mixin offsetBy($offset:0em) {
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
}

@mixin fixedContainer($offset:0em) {
  position: fixed;
  @include offsetBy($offset);
}

@mixin absoluteContainer($offset:0em) {
  position: absolute;
  @include offsetBy($offset);
}

.fixed{
  position: fixed;
  left: 0;
}

.fixed-top{
  @extend .fixed;
  top: 0;
}

.fixed-bottom{
  @extend .fixed;
  bottom: 0;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix{
  @include clearfix;
}



.box{
  display: block;
  cursor: pointer;
}

.black-box{
  @extend .box;

  background-color: #000;
  color: #fff;
}

.border-box{
  @extend .box;

  border: 1px solid #000;
  color: #000;
}

.border-box-2{
  @extend .border-box;

  border-width: 2px;
}

@mixin absoluteCenter {
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.main-header{
  position: fixed;
  z-index: 2;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;

  .logo{
    display: block;
    font-size: 20px;
    font-weight: 900;
    padding: 16px;
  }

  .nav-open{
    a{
      display: block;
      padding: 16px;

      .white-bar{
        display: block;
        width: 20px;
        height: 5px;
        background-color: #fff;

        $margin-between-bars: 2px;

        &:first-child{
          margin-bottom: $margin-between-bars;
        }

        &:last-child{
          margin-top: $margin-between-bars;
        }
      }
    }
  }
}

$footer-height: 40px;

.main-footer{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: $footer-height;
  background-color: #fff;

  p{
    text-align: center;
    line-height: $footer-height;
    font-size: 12px;
  }
}


$main-bg-color: #F0F0F0;

.main-section{
  position: relative;
  z-index: 1;
  background-color: $main-bg-color;
  height: 100%;
}

.vertical-slider{
  height: 100%;

  .slide{
    height: 100%;
  }
}

// .text-input-group{
//
//   position: relative;
//
//   label{
//     position: absolute;
//     top: 1em;
//     left: 1em;
//     font-size: 16px;
//     pointer-events: none;
//   }
//
//   input[type="text"], input[type="email"], input[type="password"], textarea{
//     padding: 1em;
//     font-family: "Raleway";
//     color: #fff;
//     font-size: 16px;
//
//     &:focus + label{
//       opacity: 0;
//       visibility: hidden;
//     }
//   }
// }
//

// .slide-1{
//   @include display(flex);
//   @include flex-flow(column wrap);
//   @include justify-content(center);
//
//   text-align: center;
//
//   h1, form{
//     // @include flex(1);
//   }
//
//   .get-started{
//     margin-bottom: 64px;
//   }
//
//   $form-width: 475px;
//
//   .get-started-form{
//     width: $form-width;
//     margin: 0 auto;
//
//     button{
//       font-family: 'Raleway';
//       font-weight: 500;
//       font-size: 18px;
//       width: 100%;
//       padding: 18px;
//       margin-top: 18px;
//     }
//
//
//     $padding-around: 18px;
//     $font-size: 18px;
//
//
//     .text-input-group{
//       label{
//         @include absoluteCenter;
//         font-size: $font-size;
//       }
//
//       input[type="email"]{
//         padding: $padding-around;
//         width: 100%;
//         text-align: center;
//       }
//     }
//
//   }
//
//   .get-started{
//     font-size: 48px;
//     font-weight: 900;
//   }
// }

.slide-1{
    @include display(flex);
    @include flex-flow(column wrap);
    @include justify-content(center);
    @include align-content(center);
}

.form-modal{
  background-color: #333;
  color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
  width: 350px;
  height: 600px;
  margin: 1em;
  padding: 1em 0;
  max-height: 450px;
  text-align: center;

  header{
    h1{
      font-size: 24px;
    }
  }

  section{

  }

  form{
    position: relative;
  }

  .text-input-group{
    margin: 30px;
    position: relative;

    &.inputHasValue label, &.inputFocused label{
      @include hideElement;
    }

    label{
      position: absolute;
      left: 50%;
      top: 0.5em;
      @include transform(translateX(-50%));
      pointer-events: none;
    }
    label, input{
      font-size: 14px;
    }

    input{
      width: 90%;
      display: block;
      margin: 0 auto;
      border-bottom: 1px solid #fff;
      text-align: center;
      font-family: 'Raleway';
      color: #fff;
      padding: 0.5em;

      &:focus + label{
        @include hideElement;
      }
    }
  }

  button, .next-action{
    padding: .5em 1.5em;
    border: 1px solid #fff;
    font-family: 'Raleway';
    color: #fff;
    font-size: 14px;
    margin: 2em;
    cursor: pointer;
  }
}
