<div class="inbox" ng-controller="InboxController">
  <div class="board-sub-menu">
    <ul>
      <li class="active">
        <a href="#">all</a>
      </li>
      <li>
        <a href="#">unread</a>
      </li>
      <li>
        <a href="#">archived</a>
      </li>
    </ul>
  </div>
  <div class="inner-content">
    <div class="content-header">
      <div class="recepient">
        <div class="user-pic">
          <img src="imgs/user.jpg" alt="Ankur Singhal" />
        </div>
        <div class="user-full-name">
          <p>
            Ankur Singhal
          </p>
        </div>
        <div class="inbox-meta">
          <p>
            - messages
          </p>
        </div>
      </div>
    </div>
    <div class="inbox-board">
      <div class="messages-list">
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-right">
          <p>
            Yes!
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-right">
          <p>
            Yes!
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-right">
          <p>
            Yes!
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-right">
          <p>
            Yes!
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-right">
          <p>
            Yes!
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-left">
          <p>
            Hey, you there?
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
        <div class="message-right">
          <p>
            Yes!
            <span class="time-ago">
              1 hr ago
            </span>
          </p>
        </div>
      </div>
      <div class="message-form">
        <form>
          <div class="text-input-group">
            <input type="text" name="message" />
            <label>Type Something</label>
          </div>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
