<div class="user-container" ng-controller="UserController">
  <header>
    <h1>Users</h1>
  </header>

  <form ng-submit="addUser()">
    <div class="form-group">
      <label for="user-name">Name</label>
      <input ng-model="user.name" type="text" class="form-control" id="user-name" placeholder="Name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <a class="btn btn-default btn-primary" ng-show="isEditingUser" ng-click="cancelEditingUser()">Cancel</a>
  </form>

  <br>
  <br>
  <br>

  <hr>

  <ul class="userList">
    <li ng-repeat="user in users">
      <div class="user-actions pull-right">
        <a ng-click="editUser(user._id)">Edit</a>
        <a ng-click="deleteUser(user._id)">Remove</a>
      </div>
      <a href="#" ng-bind="user.username"></a>
      <a href="#" ng-bind="user.constituency.name"></a>
    </li>
  </ul>
</div>
